pkgbase = ruby-jaro_winkler
	pkgdesc = Ruby & C implementation of Jaro-Winkler distance algorithm
	pkgver = 1.7.0
	pkgrel = 1
	url = https://github.com/tonytonyjan/jaro_winkler
	arch = i686
	arch = x86_64
	license = MIT
	checkdepends = ruby-rake
	checkdepends = ruby-rake-compiler
	checkdepends = ruby-minitest
	makedepends = rubygems
	makedepends = ruby-rdoc
	depends = ruby
	options = !emptydirs
	source = ruby-jaro_winkler-1.7.0.tar.gz::https://github.com/tonytonyjan/jaro_winkler/archive/v1.7.0/jaro_winkler-1.7.0.tar.gz
	sha256sums = 28e1885960fa0556a604a1361893a88e0f3f581eef80ff3133e92d8702bc2b56

pkgname = ruby-jaro_winkler
