pkgbase = keymapper
	pkgdesc = A cross-platform context-aware keyremapper
	pkgver = 4.1.2
	pkgrel = 1
	url = https://github.com/houmain/keymapper
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cmake
	depends = gcc-libs
	depends = libappindicator-gtk3
	depends = libxkbcommon
	depends = libusb
	depends = libx11
	depends = dbus
	depends = wayland
	source = https://github.com/houmain/keymapper/archive/4.1.2/keymapper-4.1.2.tar.gz
	sha256sums = d95c1d8048f43dc38fbb5410bfc1e11bbdd45cc71cd75d9a0dc3e575921638dd

pkgname = keymapper
