pkgbase = keymapper
	pkgdesc = A cross-platform context-aware keyremapper
	pkgver = 4.4.4
	pkgrel = 1
	url = https://github.com/houmain/keymapper
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cmake
	depends = dbus
	depends = gcc-libs
	depends = libappindicator-gtk3
	depends = libusb
	depends = libx11
	depends = libxkbcommon
	depends = wayland
	source = https://github.com/houmain/keymapper/archive/4.4.4/keymapper-4.4.4.tar.gz
	sha256sums = 2b775dddfff726654d4bbd3faa779bfb79c05cc7ee142acceea157a841c35730

pkgname = keymapper
