pkgbase = keymapper
	pkgdesc = A cross-platform context-aware keyremapper
	pkgver = 5.4.2
	pkgrel = 1
	url = https://github.com/houmain/keymapper
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cmake
	depends = dbus
	depends = gcc-libs
	depends = libappindicator-gtk3
	depends = libusb
	depends = libx11
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = wayland
	source = https://github.com/houmain/keymapper/archive/5.4.2/keymapper-5.4.2.tar.gz
	sha256sums = 74115a33534a9837cca880fc6e494025c5ed133a4727edd1712d6dfb11ab7446

pkgname = keymapper
