pkgbase = nats-server
	pkgdesc = High-Performance server for NATS.io, the cloud and edge native messaging system
	pkgver = 2.12.8
	pkgrel = 1
	url = https://github.com/nats-io/nats-server
	arch = x86_64
	license = Apache-2.0
	makedepends = git
	makedepends = go
	depends = glibc
	source = nats-server::git+https://github.com/nats-io/nats-server.git#tag=v2.12.8
	sha256sums = dce9f0e4e908163e3b98b92e347e580866a8c2ba442d20886833c816c6cde394

pkgname = nats-server
