pkgbase = helm-s3
	pkgdesc = Helm plugin that allows to set up a chart repository in AWS S3
	pkgver = 0.16.2
	pkgrel = 1
	url = https://github.com/hypnoglow/helm-s3
	install = helm-s3.install
	arch = x86_64
	license = MIT
	makedepends = go
	depends = helm
	source = https://github.com/hypnoglow/helm-s3/archive/v0.16.2/helm-s3-0.16.2.tar.gz
	sha256sums = 110d8851577b2ba42e0c1fcf55f7ac6be2cc79085db5dffb4e5040a1cc8e0a5e

pkgname = helm-s3
