pkgbase = ruby-git
	pkgdesc = Ruby library to manipulate git repositories by wrapping system calls to the git binary
	pkgver = 4.0.6
	pkgrel = 1
	url = https://github.com/ruby-git/ruby-git
	arch = any
	license = MIT
	checkdepends = openssh
	checkdepends = ruby-bundler
	checkdepends = ruby-minitar
	checkdepends = ruby-mocha
	checkdepends = ruby-rake
	checkdepends = ruby-redcarpet
	checkdepends = ruby-rubocop
	checkdepends = ruby-test-unit
	checkdepends = ruby-yard
	makedepends = rubygems
	makedepends = ruby-rdoc
	depends = ruby
	depends = git
	depends = ruby-activesupport
	depends = ruby-addressable
	depends = ruby-process_executer
	depends = ruby-rchardet
	source = git+https://github.com/ruby-git/ruby-git.git#tag=v4.0.6
	source = disable-yardstick.patch
	sha256sums = affabc597090827950efaca62430ee0a58c2542264fa9dccfbd3b63eb4bbc8f8
	sha256sums = a87ea4933af7bff13576d795c3ca3474e78347fd05d50a72ec7de65fdddc247e

pkgname = ruby-git
