pkgbase = goose
	pkgdesc = Database migration tool written in Go
	pkgver = 3.24.1
	pkgrel = 1
	url = https://github.com/pressly/goose
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	source = https://github.com/pressly/goose/archive/v3.24.1/goose-3.24.1.tar.gz
	sha256sums = d8a9d66ce09dae81911960ed82a0bed5099319becd603e895239e2abe17c81c1

pkgname = goose
