pkgbase = goose
	pkgdesc = Database migration tool written in Go
	pkgver = 3.24.3
	pkgrel = 1
	url = https://github.com/pressly/goose
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	source = https://github.com/pressly/goose/archive/v3.24.3/goose-3.24.3.tar.gz
	sha256sums = f0d0e654b7f1e242beb27b49db7b3dbb0788e330c9c4a9e88701c7d3570eaa00

pkgname = goose
