pkgbase = terraform-docs
	pkgdesc = Generate documentation from Terraform modules in various output formats
	pkgver = 0.22.0
	pkgrel = 1
	url = https://github.com/terraform-docs/terraform-docs
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = go
	depends = glibc
	source = terraform-docs-0.22.0.tar.gz::https://github.com/terraform-docs/terraform-docs/archive/v0.22.0.tar.gz
	sha256sums = 336115a1d3a7a55a7295f5768ecc0064c86ed8addc0b0ea27fdfd50b2116dd96

pkgname = terraform-docs
