pkgbase = nodejs-n
	pkgdesc = Node version management
	pkgver = 10.2.0
	pkgrel = 1
	url = https://github.com/tj/n
	install = nodejs-n.install
	arch = any
	license = MIT
	depends = bash
	optdepends = jq: faster package.json lookups
	source = https://github.com/tj/n/archive/v10.2.0/n-10.2.0.tar.gz
	sha256sums = 5914f0d5e89aadaaaeb803baa89a7582747b0c57ad30201b3522cd76f504c7d9

pkgname = nodejs-n
