pkgbase = wgo
	pkgdesc = Live reload for Go apps
	pkgver = 0.5.13
	pkgrel = 1
	url = https://github.com/bokwoon95/wgo
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	source = https://github.com/bokwoon95/wgo/archive/v0.5.13/wgo-0.5.13.tar.gz
	sha256sums = df4066625be131c5c03bce9ffbf9a12760fab192ca7863671a01fcf7c1d9ddbd

pkgname = wgo
