pkgbase = ruby-sshkit
	pkgdesc = Toolkit for deploying code and assets to servers
	pkgver = 1.23.1
	pkgrel = 1
	url = https://github.com/capistrano/sshkit
	arch = any
	license = MIT
	makedepends = ruby-rdoc
	makedepends = rubygems
	depends = ruby
	depends = ruby-net-scp
	depends = ruby-net-ssh
	options = !emptydirs
	source = https://github.com/capistrano/sshkit/archive/v1.23.1/sshkit-1.23.1.tar.gz
	sha256sums = 6b285b24fd231cd27e332f845aaf43db59ca26fc67f906b309b4c1b46392cf9a

pkgname = ruby-sshkit
