pkgbase = ruby-sshkit
	pkgdesc = Toolkit for deploying code and assets to servers
	pkgver = 1.23.0
	pkgrel = 1
	url = https://github.com/capistrano/sshkit
	arch = any
	license = MIT
	makedepends = ruby-rdoc
	makedepends = rubygems
	depends = ruby
	depends = ruby-net-scp
	depends = ruby-net-ssh
	options = !emptydirs
	source = https://github.com/capistrano/sshkit/archive/v1.23.0/sshkit-1.23.0.tar.gz
	sha256sums = 9ed48b344f55cb3704ac6a80ad173d7a8c11226a5042c9e2f13d5597e7f13513

pkgname = ruby-sshkit
