pkgbase = ruby-oj
	pkgdesc = The fastest JSON parser and object serializer
	pkgver = 3.16.6
	pkgrel = 1
	url = http://www.ohler.com/oj/
	arch = i686
	arch = x86_64
	license = MIT
	checkdepends = ruby-bundler
	checkdepends = ruby-minitest
	checkdepends = ruby-rake
	checkdepends = ruby-rake-compiler
	checkdepends = ruby-rubocop
	checkdepends = ruby-test-unit
	makedepends = rubygems
	makedepends = ruby-rdoc
	depends = ruby
	options = !emptydirs
	source = https://github.com/ohler55/oj/archive/v3.16.6/oj-3.16.6.tar.gz
	sha256sums = 89e4ec162104de8552e080ab5a382adbf02847ce751819e4fd62c82dd2c35b94

pkgname = ruby-oj
