pkgbase = ruby-oj
	pkgdesc = The fastest JSON parser and object serializer
	pkgver = 3.16.9
	pkgrel = 1
	url = http://www.ohler.com/oj/
	arch = i686
	arch = x86_64
	license = MIT
	checkdepends = ruby-bundler
	checkdepends = ruby-minitest
	checkdepends = ruby-rake
	checkdepends = ruby-rake-compiler
	checkdepends = ruby-rubocop
	checkdepends = ruby-test-unit
	makedepends = rubygems
	makedepends = ruby-rdoc
	depends = ruby
	options = !emptydirs
	source = https://github.com/ohler55/oj/archive/v3.16.9/oj-3.16.9.tar.gz
	sha256sums = 4d3db6e97c5d908f8d1bbd80bd50986abb70f1dd25b61249fd15fbca3ef14a32

pkgname = ruby-oj
