pkgbase = ruby-oj
	pkgdesc = The fastest JSON parser and object serializer
	pkgver = 3.16.12
	pkgrel = 1
	url = http://www.ohler.com/oj/
	arch = i686
	arch = x86_64
	license = MIT
	checkdepends = ruby-bundler
	checkdepends = ruby-minitest
	checkdepends = ruby-rake
	checkdepends = ruby-rake-compiler
	checkdepends = ruby-rubocop
	checkdepends = ruby-test-unit
	makedepends = rubygems
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-bigdecimal
	options = !emptydirs
	source = https://github.com/ohler55/oj/archive/v3.16.12/oj-3.16.12.tar.gz
	sha256sums = 5fcc9b9db259ebd1606ea09816a3c7dd73ded20d3686a1659662d2a82107fd9c

pkgname = ruby-oj
