pkgbase = ipsort
	pkgdesc = versitile ip address sorting tool
	pkgver = 1.1.1
	pkgrel = 1
	url = https://github.com/mfinelli/ipsort
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = scdoc
	depends = glibc
	depends = libgcc
	options = !lto
	source = ipsort-1.1.1.tar.gz::https://github.com/mfinelli/ipsort/archive/v1.1.1/ipsort-1.1.1.tar.gz
	sha256sums = fc29ed75e13cd53811dcdbc5a153c3613f2603e12660128b58f4b06647ae0603

pkgname = ipsort
