pkgbase = gnome-shell-extension-simpleweather
	pkgdesc = A highly configurable GNOME shell extension for viewing the weather
	pkgver = 49.2.0
	pkgrel = 1
	url = https://github.com/romanlefler/SimpleWeather
	arch = any
	license = GPL-3.0-or-later
	makedepends = npm
	makedepends = typescript
	makedepends = zip
	depends = gnome-shell
	source = gnome-shell-extension-simpleweather-49.2.0.tar.gz::https://github.com/romanlefler/SimpleWeather/archive/refs/tags/v49.2.0.tar.gz
	sha256sums = feb3595e064fdc6d1fb5dea50d66a80a5cc759029cfcb8ac5a1b6ff32562906e

pkgname = gnome-shell-extension-simpleweather
