pkgbase = newrelic-cli
	pkgdesc = The New Relic Command Line Interface
	pkgver = 0.94.1
	pkgrel = 1
	url = https://github.com/newrelic/newrelic-cli
	arch = x86_64
	license = Apache-2.0
	makedepends = go
	depends = glibc
	source = https://github.com/newrelic/newrelic-cli/archive/v0.94.1/newrelic-cli-0.94.1.tar.gz
	sha256sums = 1e8e2d1fd290b53ebbd8e90b2513d897d4bd3ce73448be632b95f3ff590b6eeb

pkgname = newrelic-cli
