pkgbase = newrelic-cli
	pkgdesc = The New Relic Command Line Interface
	pkgver = 0.106.1
	pkgrel = 1
	url = https://github.com/newrelic/newrelic-cli
	arch = x86_64
	license = Apache-2.0
	makedepends = go
	depends = glibc
	source = https://github.com/newrelic/newrelic-cli/archive/v0.106.1/newrelic-cli-0.106.1.tar.gz
	sha256sums = 4095853203801e34118e7ac676575ae870da5b538c4dc4779e9aa95ead31748f

pkgname = newrelic-cli
