pkgbase = ruby-image_size
	pkgdesc = measure image size using pure Ruby
	pkgver = 3.5.0
	pkgrel = 1
	url = https://github.com/toy/image_size
	arch = any
	license = Ruby
	license = GPL-2.0-or-later
	checkdepends = ruby-rspec
	checkdepends = ruby-rubocop
	checkdepends = ruby-rubocop-rspec
	checkdepends = ruby-webrick
	makedepends = rubygems
	makedepends = ruby-rdoc
	depends = ruby
	options = !emptydirs
	source = https://github.com/toy/image_size/archive/v3.5.0/image_size-3.5.0.tar.gz
	sha256sums = a7c65768f0208ecf76972dcad8be701f5175782a29f47e781ad2e4c3c8ddf7c3

pkgname = ruby-image_size
