pkgbase = ruby-inflecto
	pkgdesc = Inflector for strings
	pkgver = 0.0.2
	pkgrel = 3
	url = https://rubygems.org/gems/inflecto
	arch = any
	license = MIT
	makedepends = rubygems
	makedepends = ruby-rdoc
	depends = ruby
	noextract = inflecto-0.0.2.gem
	options = !emptydirs
	source = https://rubygems.org/downloads/inflecto-0.0.2.gem
	sha256sums = e4ea51d7b1bae9580e50059084273b26bf518722853c59784d85e35dbb2ab420

pkgname = ruby-inflecto
