pkgbase = ruby-faker
	pkgdesc = Easily generate fake data: names, addresses, phone numbers, etc
	pkgver = 3.5.3
	pkgrel = 1
	url = https://github.com/faker-ruby/faker
	arch = any
	license = MIT
	checkdepends = rubocop
	checkdepends = ruby-bundler
	checkdepends = ruby-minitest
	checkdepends = ruby-pry
	checkdepends = ruby-rake
	checkdepends = ruby-simplecov
	checkdepends = ruby-test-unit
	checkdepends = ruby-timecop
	checkdepends = ruby-yard
	makedepends = ruby-rdoc
	makedepends = ruby-irb
	makedepends = rubygems
	depends = ruby
	depends = ruby-i18n
	options = !emptydirs
	source = https://github.com/faker-ruby/faker/archive/v3.5.3/faker-3.5.3.tar.gz
	sha256sums = e43f7255bf760f994181793b1a373810792f8864a98ef78d7b615583bda4b9fc

pkgname = ruby-faker
