pkgbase = time_warrior
	pkgdesc = A CLI-based time tracking tool
	pkgver = 1.4.2
	pkgrel = 1
	url = https://github.com/mrcook/time_warrior
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	source = https://github.com/mrcook/time_warrior/archive/v1.4.2/time_warrior-1.4.2.tar.gz
	sha256sums = 3d8c049a43d7d4fc6d23a7fdd31c39f7e0f1d5a51977e85839a15963ec136f8b

pkgname = time_warrior
