pkgbase = ruby-toml-rb
	pkgdesc = A parser for TOML using Citrus library
	pkgver = 4.0.0
	pkgrel = 1
	url = https://github.com/emancu/toml-rb
	arch = any
	license = MIT
	checkdepends = ruby-rake
	checkdepends = ruby-minitest
	makedepends = rubygems
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-citrus
	depends = ruby-racc
	options = !emptydirs
	source = https://github.com/emancu/toml-rb/archive/v4.0.0.tar.gz
	sha256sums = 0d3271ac722878dcc124df0bab6c71e23895d5448af9534f208897f7396b8595

pkgname = ruby-toml-rb
