pkgbase = ruby-toml-rb
	pkgdesc = A parser for TOML using Citrus library
	pkgver = 4.1.0
	pkgrel = 1
	url = https://github.com/emancu/toml-rb
	arch = any
	license = MIT
	checkdepends = ruby-rake
	checkdepends = ruby-minitest
	makedepends = rubygems
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-citrus
	depends = ruby-racc
	options = !emptydirs
	source = https://github.com/emancu/toml-rb/archive/v4.1.0.tar.gz
	sha256sums = d25f0c8ed85ca2f24cfef8b9ab51df07a04c0cb033d2cab8cf424ca60f40f584

pkgname = ruby-toml-rb
