pkgbase = ruby-pry
	pkgdesc = An IRB alternative and runtime developer console
	pkgver = 0.14.1
	pkgrel = 2
	url = https://github.com/pry/pry
	arch = any
	license = MIT
	checkdepends = ruby-bundler
	checkdepends = ruby-rake
	checkdepends = ruby-rspec
	makedepends = git
	makedepends = rubygems
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-coderay
	depends = ruby-method_source
	options = !emptydirs
	source = git+https://github.com/pry/pry.git?tag=v0.14.1
	sha256sums = SKIP

pkgname = ruby-pry
