pkgbase = otel-tui
	pkgdesc = A terminal OpenTelemetry viewer inspired by otel-desktop-viewer
	pkgver = 0.3.10
	pkgrel = 1
	url = https://github.com/ymtdzzz/otel-tui
	arch = x86_64
	license = Apache-2.0
	makedepends = go
	depends = glibc
	depends = libx11
	source = https://github.com/ymtdzzz/otel-tui/archive/v0.3.10/otel-tui-0.3.10.tar.gz
	sha256sums = f3ba9f51c5a4c28201d0a7fab1a53f57bbf19c23b589a4c5fd74ff35738ffec8

pkgname = otel-tui
