pkgbase = otel-tui
	pkgdesc = A terminal OpenTelemetry viewer inspired by otel-desktop-viewer
	pkgver = 0.6.3
	pkgrel = 1
	url = https://github.com/ymtdzzz/otel-tui
	arch = x86_64
	license = Apache-2.0
	makedepends = go
	depends = glibc
	depends = libx11
	source = https://github.com/ymtdzzz/otel-tui/archive/v0.6.3/otel-tui-0.6.3.tar.gz
	sha256sums = 330be1f04316cb12e24e3fc35cc9b7968e39ae7ab20e1d4380cee0fcc7a0efdb

pkgname = otel-tui
