pkgbase = rubymine
	pkgdesc = Ruby and Rails IDE with the full stack of essential developer tools
	pkgver = 2025.3
	pkgrel = 1
	url = https://www.jetbrains.com/ruby/
	install = rubymine.install
	arch = i686
	arch = x86_64
	license = custom
	depends = desktop-file-utils
	depends = gtk-update-icon-cache
	optdepends = ruby: Ruby run/debug support
	options = !strip
	source = https://download.jetbrains.com/ruby/RubyMine-2025.3.tar.gz
	source = rubymine.desktop
	source = rubymine.install
	sha256sums = 05c2164665df4d81088243328193fb43c09b98f761d221e5f2da7666ac8b5243
	sha256sums = 72df0e7c605caf7b6c98e9335f4eee9c8bfe8fcc24523634fd8c1ebe019534d6
	sha256sums = 7ecadddf2b315b22df3a5c7b90e18be7ea69e2a0d869ee18bf0e031b2c508f76

pkgname = rubymine
