pkgbase = ruby-rchardet
	pkgdesc = Character encoding auto-detection in Ruby
	pkgver = 1.10.0
	pkgrel = 1
	url = https://github.com/jmhodges/rchardet
	arch = any
	license = LGPL-2.1-or-later
	checkdepends = ruby-bundler
	checkdepends = ruby-rake
	checkdepends = ruby-maxitest
	checkdepends = ruby-minitest
	makedepends = ruby-rdoc
	makedepends = rubygems
	depends = ruby
	options = !emptydirs
	source = https://github.com/jmhodges/rchardet/archive/v1.10.0/rchardet-1.10.0.tar.gz
	sha256sums = c33019c1e16d234abe063ba1d99901aab95c9b606edf4c682c57f16a1186e47d

pkgname = ruby-rchardet
