pkgbase = dnglab
	pkgdesc = Camera RAW to DNG file format converter
	pkgver = 0.7.2
	pkgrel = 1
	url = https://github.com/dnglab/dnglab
	arch = x86_64
	license = LGPL-2.1-only
	makedepends = cargo
	depends = glibc
	depends = gcc-libs
	source = https://github.com/dnglab/dnglab/archive/v0.7.2/dnglab-0.7.2.tar.gz
	sha256sums = c363a5ff8c058dd6d2ffe22a2ece986fa6ad146043f0211d9b77d789083901ce

pkgname = dnglab
