pkgbase = dnglab
	pkgdesc = Camera RAW to DNG file format converter
	pkgver = 0.6.1
	pkgrel = 2
	url = https://github.com/dnglab/dnglab
	arch = x86_64
	license = LGPL-2.1-only
	makedepends = cargo
	depends = gcc-libs
	source = https://github.com/dnglab/dnglab/archive/v0.6.1/dnglab-0.6.1.tar.gz
	sha256sums = 576e818a0d857d7e2101a6b4f57db17ca67d51c83feaa7c36d8af7f645782caf

pkgname = dnglab
