pkgbase = dnglab
	pkgdesc = Camera RAW to DNG file format converter
	pkgver = 0.7.1
	pkgrel = 1
	url = https://github.com/dnglab/dnglab
	arch = x86_64
	license = LGPL-2.1-only
	makedepends = cargo
	depends = glibc
	depends = gcc-libs
	source = https://github.com/dnglab/dnglab/archive/v0.7.1/dnglab-0.7.1.tar.gz
	sha256sums = 9a62c63a0775c946ccc378dbbc0f9206f593659f2f998cfb66bf6a0f64487e2f

pkgname = dnglab
