pkgbase = ruby-shoulda-matchers
	pkgdesc = Shoulda Matchers provides RSpec- and Minitest-compatible one-liners
	pkgver = 7.0.1
	pkgrel = 1
	url = https://github.com/thoughtbot/shoulda-matchers
	arch = any
	license = MIT
	makedepends = rubygems
	makedepends = ruby-rdoc
	depends = ruby
	depends = ruby-activesupport
	options = !emptydirs
	source = https://github.com/thoughtbot/shoulda-matchers/archive/v7.0.1.tar.gz
	sha256sums = d821cba0901fff90f6f3f94defb2bcbf59538481534d1db000ad3fddc5a81626

pkgname = ruby-shoulda-matchers
