pkgbase = ruby-ruby_parser
	pkgdesc = Ruby parser written in pure ruby
	pkgver = 3.21.1
	pkgrel = 1
	url = https://github.com/seattlerb/ruby_parser
	arch = any
	license = MIT
	makedepends = ruby-hoe
	makedepends = ruby-minitest
	makedepends = ruby-oedipus_lex
	makedepends = ruby-rake
	makedepends = unifdef
	depends = ruby
	depends = ruby-racc
	depends = ruby-sexp_processor
	options = !emptydirs
	source = https://github.com/seattlerb/ruby_parser/archive/v3.21.1/ruby_parser-3.21.1.tar.gz
	sha256sums = e00221b31030a382a851999faf906b98f3b5c7917879b01ab1983f31e6d399ee

pkgname = ruby-ruby_parser
