pkgbase = euphonica
	pkgdesc = An MPD client with delusions of grandeur, made with Rust, GTK and Libadwaita
	pkgver = 0.99.3
	pkgrel = 1
	url = https://github.com/htkhiem/euphonica
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = clang
	makedepends = meson
	depends = cairo
	depends = dbus
	depends = dconf
	depends = glib2
	depends = glibc
	depends = gcc-libs
	depends = graphene
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libpipewire
	depends = libsecret
	depends = mpd
	depends = openssl
	depends = sqlite
	depends = xdg-desktop-portal-gtk
	options = !lto
	source = euphonica-0.99.3.tar.gz::https://github.com/htkhiem/euphonica/archive/refs/tags/v0.99.3-beta.tar.gz
	sha256sums = 2bbb02f859cf6ed9899d479f40397dc44f37eb1f193e0ea833daf9e1bc862579

pkgname = euphonica
