pkgbase = euphonica
	pkgdesc = An MPD client with delusions of grandeur, made with Rust, GTK and Libadwaita
	pkgver = 0.97.2
	pkgrel = 1
	url = https://github.com/htkhiem/euphonica
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = clang
	makedepends = meson
	depends = cairo
	depends = dbus
	depends = dconf
	depends = glib2
	depends = glibc
	depends = gcc-libs
	depends = graphene
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libpipewire
	depends = libsecret
	depends = mpd
	depends = openssl
	depends = sqlite
	depends = xdg-desktop-portal-gtk
	options = !lto
	source = euphonica-0.97.2.tar.gz::https://github.com/htkhiem/euphonica/archive/refs/tags/v0.97.2-beta.tar.gz
	sha256sums = 9c2a6c1c301ef9b893dc0ed097eab0e8267049f6af6ee578108ab955733fdd6a

pkgname = euphonica
