pkgbase = adminer
	pkgdesc = A full-featured MySQL management tool written in PHP
	pkgver = 5.4.0
	pkgrel = 1
	url = https://www.adminer.org
	install = adminer.install
	arch = any
	license = Apache-2.0
	license = GPL-2.0-only
	depends = php-interpreter
	optdepends = apache
	optdepends = elasticsearch
	optdepends = mariadb
	optdepends = mongodb
	optdepends = mysql
	optdepends = postgresql
	optdepends = sqlite
	source = https://github.com/vrana/adminer/releases/download/v5.4.0/adminer-5.4.0.php
	sha256sums = 7a572ddc4e512d4752902b769ebb400465583d814c9d280c0b7175d51a3159e0

pkgname = adminer
