pkgbase = adminer
	pkgdesc = A full-featured MySQL management tool written in PHP
	pkgver = 5.0.2
	pkgrel = 1
	url = https://www.adminer.org
	install = adminer.install
	arch = any
	license = Apache-2.0
	license = GPL-2.0-only
	depends = php
	optdepends = apache
	optdepends = elasticsearch
	optdepends = mariadb
	optdepends = mongodb
	optdepends = mysql
	optdepends = postgresql
	optdepends = sqlite
	source = https://github.com/vrana/adminer/releases/download/v5.0.2/adminer-5.0.2.php
	sha256sums = c8f645ddc20d379e53c761c7c11d65a243521bd08dcb380ced811735e65843a8

pkgname = adminer
