pkgbase = gnome-shell-extension-randomwallpaper
	pkgdesc = Random Wallpapers for Gnome 3
	pkgver = 3.1.0
	pkgrel = 4
	url = https://github.com/ifl0w/RandomWallpaperGnome3
	arch = any
	license = MIT
	makedepends = blueprint-compiler
	makedepends = git
	makedepends = npm
	depends = gnome-shell
	source = RandomWallpaperGnome3::git+https://github.com/ifl0w/RandomWallpaperGnome3.git#branch=support_48_49
	source = gnome50.patch
	sha256sums = SKIP
	sha256sums = 62e3b0c74648b763272ef65cb2a2d2ebc23d28e4ef23a6798948362aff8d2173

pkgname = gnome-shell-extension-randomwallpaper
