pkgbase = helm-gcs
	pkgdesc = Helm plugin to manage chart repositories on GCS
	pkgver = 0.6.0
	pkgrel = 1
	url = https://github.com/hayorov/helm-gcs
	install = helm-gcs.install
	arch = x86_64
	license = MIT
	makedepends = go
	depends = bash
	depends = helm
	source = https://github.com/hayorov/helm-gcs/archive/0.6.0/helm-gcs-0.6.0.tar.gz
	sha256sums = 92a4d1a17feff0fb27bf4b94085834134d51d7e3fc1606ce017b650e388451e4

pkgname = helm-gcs
