pkgbase = nats-server
	pkgdesc = High-Performance server for NATS.io, the cloud and edge native messaging system
	pkgver = 2.12.6
	pkgrel = 1
	url = https://github.com/nats-io/nats-server
	arch = x86_64
	license = Apache-2.0
	makedepends = git
	makedepends = go
	depends = glibc
	source = nats-server::git+https://github.com/nats-io/nats-server.git#tag=v2.12.6
	sha256sums = ed8d46b59ea493dceb1f750fe0daf77f54300a39835b4cb6d90a04ef3656f572

pkgname = nats-server
