pkgbase = ansible-aur
	pkgdesc = Ansible module to manage packages from the AUR
	pkgver = 0.13.0
	pkgrel = 1
	epoch = 1
	url = https://github.com/kewlfft/ansible-aur
	arch = any
	license = GPL-3.0-or-later
	source = https://github.com/kewlfft/ansible-aur/archive/v0.13.0/ansible-aur-0.13.0.tar.gz
	sha256sums = 1a1fdfdb37d6829feedc8d007cd77965e13364aefbea202c20ecd7ae5983133c

pkgname = ansible-aur
