pkgbase = ruby-sexp_processor
	pkgdesc = A branch of ParseTree that brings several sexp processing tools
	pkgver = 4.17.4
	pkgrel = 1
	url = https://github.com/seattlerb/sexp_processor
	arch = any
	license = MIT
	checkdepends = ruby-minitest
	makedepends = ruby-hoe
	makedepends = ruby-rake
	makedepends = ruby-rdoc
	makedepends = rubygems
	depends = ruby
	options = !emptydirs
	source = https://github.com/seattlerb/sexp_processor/archive/v4.17.4/sexp_processor-4.17.4.tar.gz
	sha256sums = 986a8e49a611715d92bc3ea844dadabdb06b45424989e7e6b1e0eb971e7d86fa

pkgname = ruby-sexp_processor
