pkgbase = pluto
	pkgdesc = A cli tool to help discover deprecated apiVersions in Kubernetes
	pkgver = 5.23.5
	pkgrel = 1
	url = https://github.com/FairwindsOps/pluto
	arch = x86_64
	license = Apache-2.0
	makedepends = go
	depends = glibc
	source = pluto-5.23.5.tar.gz::https://github.com/FairwindsOps/pluto/archive/v5.23.5.tar.gz
	sha256sums = 4ce9716ebf32f6c89772582520038d5da09712044b7bbbaa54b3fcdbec9953bc

pkgname = pluto
