pkgbase = pluto
	pkgdesc = A cli tool to help discover deprecated apiVersions in Kubernetes
	pkgver = 5.20.0
	pkgrel = 1
	url = https://github.com/FairwindsOps/pluto
	arch = x86_64
	license = Apache-2.0
	makedepends = go
	depends = glibc
	source = pluto-5.20.0.tar.gz::https://github.com/FairwindsOps/pluto/archive/v5.20.0.tar.gz
	sha256sums = 9c3617e3a9afebfe6475a71e7ac3a1dcca8c2a6f60ba1328c37ee73d8d7164d8

pkgname = pluto
