pkgbase = nodejs-postcss
	pkgdesc = Tool for transforming styles with JS plugins
	pkgver = 8.5.8
	pkgrel = 1
	url = https://postcss.org
	arch = any
	license = MIT
	makedepends = npm
	depends = nodejs
	noextract = postcss-8.5.8.tgz
	source = https://registry.npmjs.org/postcss/-/postcss-8.5.8.tgz
	sha256sums = 732d7e302508174a88284d423cf813740625913ed115546bb7568795d8e3bb70

pkgname = nodejs-postcss
