pkgbase = ruby-flay
	pkgdesc = Analyzes code for structural similarities
	pkgver = 2.14.0
	pkgrel = 1
	url = https://github.com/seattlerb/flay
	arch = any
	license = MIT
	checkdepends = ruby-minitest
	checkdepends = ruby-racc
	makedepends = ruby-hoe
	makedepends = ruby-rake
	makedepends = ruby-rdoc
	makedepends = rubygems
	depends = ruby
	depends = ruby-erubi
	depends = ruby-path_expander
	depends = ruby-ruby2ruby
	depends = ruby-ruby_parser
	depends = ruby-sexp_processor
	options = !emptydirs
	source = https://github.com/seattlerb/flay/archive/v2.14.0/flay-2.14.0.tar.gz
	sha256sums = 47b16d4c21de689c4fcefadf647f6115e1d0be177500671d45ec9eee922c4f06

pkgname = ruby-flay
