pkgbase = nodejs-autoprefixer
	pkgdesc = Parse CSS and add vendor prefixes to rules by Can I Use
	pkgver = 10.4.19
	pkgrel = 1
	url = https://github.com/postcss/autoprefixer
	arch = any
	license = MIT
	makedepends = npm
	depends = nodejs
	noextract = autoprefixer-10.4.19.tgz
	source = https://registry.npmjs.org/autoprefixer/-/autoprefixer-10.4.19.tgz
	sha256sums = c3afcc883a595aa104eb18a0ae715c15936b37717f800c197adb9155374f0207

pkgname = nodejs-autoprefixer
