pkgbase = ruby-pastel
	pkgdesc = Terminal strings styling with intuitive and clean API
	pkgver = 0.8.0
	pkgrel = 2
	url = https://github.com/piotrmurach/pastel
	arch = any
	license = MIT
	checkdepends = ruby-bundler
	checkdepends = ruby-rake
	checkdepends = ruby-rspec
	makedepends = ruby-rdoc
	makedepends = rubygems
	depends = ruby
	depends = ruby-tty-color
	options = !emptydirs
	source = https://github.com/piotrmurach/pastel/archive/v0.8.0/pastel-0.8.0.tar.gz
	source = https://github.com/piotrmurach/pastel/commit/bbadeb031a60650e8c58044d5188be7a2fa669fe.patch
	sha256sums = 9dfeef7d9aa91592aa48efb4644ec8dd70dcb61c0868707c24da9dd6f0d268c3
	sha256sums = 84892625b7da569f998918449909a4ed4d0bb401648570f16adb5eace5519cf7

pkgname = ruby-pastel
