pkgbase = gnome-shell-extension-emoji-copy
	pkgdesc = simplify emoji selection and clipboard management
	pkgver = 29
	pkgrel = 1
	url = https://github.com/FelipeFTN/emoji-copy
	arch = any
	license = GPL-3.0-or-later
	makedepends = python
	makedepends = python-requests
	makedepends = zip
	depends = gnome-shell
	source = emoji-copy-29.tar.gz::https://github.com/FelipeFTN/emoji-copy/archive/v29.tar.gz
	sha256sums = 3726de1e0e894bf572aff1614afc1152318569f7f805416006d22cea169b57f6

pkgname = gnome-shell-extension-emoji-copy
