pkgbase = gnome-shell-extension-emoji-copy
	pkgdesc = simplify emoji selection and clipboard management
	pkgver = 31
	pkgrel = 1
	url = https://github.com/FelipeFTN/emoji-copy
	arch = any
	license = GPL-3.0-or-later
	makedepends = python
	makedepends = python-requests
	makedepends = zip
	depends = gnome-shell
	source = emoji-copy-31.tar.gz::https://github.com/FelipeFTN/emoji-copy/archive/v31.tar.gz
	sha256sums = 60b4af22c7d5725a348df0176374f806f6c7bb2ec1d1500eb408dcc33b136dfe

pkgname = gnome-shell-extension-emoji-copy
