pkgbase = ruby-tty-table
	pkgdesc = A flexible and intuitive table generator
	pkgver = 0.12.0
	pkgrel = 2
	url = https://github.com/piotrmurach/tty-table
	arch = any
	license = MIT
	checkdepends = ruby-bundler
	checkdepends = ruby-rake
	checkdepends = ruby-rspec
	makedepends = ruby-rdoc
	makedepends = rubygems
	depends = ruby
	depends = ruby-pastel
	depends = ruby-strings
	depends = ruby-tty-screen
	options = !emptydirs
	source = https://github.com/piotrmurach/tty-table/archive/v0.12.0/tty-table-0.12.0.tar.gz
	sha256sums = d077a50b995a34f6e1bc1509f4aeaeb121cceb88e909d3544e1999d7b6bddbbe

pkgname = ruby-tty-table
