pkgbase = dockerfmt
	pkgdesc = Dockerfile formatter - a modern dockfmt
	pkgver = 0.3.9
	pkgrel = 1
	url = https://github.com/reteps/dockerfmt
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	source = https://github.com/reteps/dockerfmt/archive/v0.3.9/dockerfmt-0.3.9.tar.gz
	sha256sums = a156f43b62168531f999f4ee1fb39b6d0057e55e4f703c96181be32950b3c461

pkgname = dockerfmt
