pkgbase = dockerfmt
	pkgdesc = Dockerfile formatter - a modern dockfmt
	pkgver = 0.3.4
	pkgrel = 1
	url = https://github.com/reteps/dockerfmt
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	source = https://github.com/reteps/dockerfmt/archive/0.3.4/dockerfmt-0.3.4.tar.gz
	sha256sums = 7abad5391a4e622647740dc5d1a8c72ec16ed293be3d5f1fa4b6800bde6b24fc

pkgname = dockerfmt
