pkgbase = gimp-fourier
	pkgdesc = A GIMP plugin to do the fourier transform
	pkgver = 0.4.5gimp3rc1
	pkgrel = 1
	url = https://www.lprp.fr/gimp_plugin_en/#fourier
	arch = i686
	arch = x86_64
	license = GPL-3.0-or-later
	depends = fftw
	depends = glibc
	depends = gimp
	source = https://github.com/rpeyron/plugin-gimp-fourier/archive/refs/tags/v0.4.5+gimp3rc1.tar.gz
	sha256sums = 8406fa49b8d31444b5870063eaf0dbd89b6e909231b3fa57d083c05fd38c134a

pkgname = gimp-fourier
