pkgbase = ruby-ruby2ruby
	pkgdesc = Provides a means of generating pure ruby code easily
	pkgver = 2.5.0
	pkgrel = 1
	url = https://github.com/seattlerb/ruby2ruby
	arch = any
	license = MIT
	makedepends = ruby-hoe
	makedepends = ruby-rdoc
	makedepends = rubygems
	depends = ruby
	depends = ruby-ruby_parser
	depends = ruby-sexp_processor
	options = !emptydirs
	source = https://github.com/seattlerb/ruby2ruby/archive/v2.5.0/ruby2ruby-2.5.0.tar.gz
	source = https://github.com/seattlerb/ruby2ruby/commit/94c39959019f93ce2a8346060bc4d4c109ead1ac.patch
	source = https://github.com/seattlerb/ruby2ruby/commit/e935bfdb76419f0a3ba55aac05536132f1e2986d.patch
	sha256sums = 5fdda6031edd4157481a6bf080bbc408ddc0791caff72c37f108fbb17e42614a
	sha256sums = fc3ee9229a2239705b4485578601ddb68d5e1ac0f348810a879f3ecbf01f5f25
	sha256sums = 4524101e5e2161132185f30cd3f1cf9ee7295dd5dfb0cda466a24cde2de1ad82

pkgname = ruby-ruby2ruby
