pkgbase = helm-secrets
	pkgdesc = Helm plugin to manage secrets with Git workflow and store them anywhere
	pkgver = 4.6.5
	pkgrel = 1
	url = https://github.com/jkroepke/helm-secrets
	install = helm-secrets.install
	arch = any
	license = Apache-2.0
	depends = bash
	depends = helm
	optdepends = sops: secret driver
	optdepends = vault: secret driver
	source = https://github.com/jkroepke/helm-secrets/archive/v4.6.5/helm-secrets-4.6.5.tar.gz
	sha256sums = 2a8c1b9bcb5ae55a46080a217ab980f2556d9f12425d51260aa6d42bb3ca92e3

pkgname = helm-secrets
