pkgbase = helm-secrets
	pkgdesc = Helm plugin to manage secrets with Git workflow and store them anywhere
	pkgver = 4.6.4
	pkgrel = 1
	url = https://github.com/jkroepke/helm-secrets
	install = helm-secrets.install
	arch = any
	license = Apache-2.0
	depends = bash
	depends = helm
	optdepends = sops: secret driver
	optdepends = vault: secret driver
	source = https://github.com/jkroepke/helm-secrets/archive/v4.6.4/helm-secrets-4.6.4.tar.gz
	sha256sums = 552cfd3530de0357da07c3dabb30e5fee1200e14e8931f7f95bc8430433d0330

pkgname = helm-secrets
