pkgbase = helm-secrets
	pkgdesc = Helm plugin to manage secrets with Git workflow and store them anywhere
	pkgver = 4.6.7
	pkgrel = 1
	url = https://github.com/jkroepke/helm-secrets
	install = helm-secrets.install
	arch = any
	license = Apache-2.0
	depends = bash
	depends = helm
	optdepends = sops: secret driver
	optdepends = vault: secret driver
	source = https://github.com/jkroepke/helm-secrets/archive/v4.6.7/helm-secrets-4.6.7.tar.gz
	sha256sums = 65b6a3faf49113fd5c6202806cd304c70cdba3adf8957395255baf4cb4bff8a1

pkgname = helm-secrets
