pkgbase = mdq
	pkgdesc = like jq but for Markdown: find specific elements in a md doc
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/yshavit/mdq
	arch = x86_64
	license = Apache-2.0
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	source = https://github.com/yshavit/mdq/archive/v0.5.0/mdq-0.5.0.tar.gz
	sha256sums = 9b1021bf710a1028d534769f6cbf035b199a6fc8a24607f2dbe9f3b18a7146d1

pkgname = mdq
