pkgbase = ruby-dry-inflector
	pkgdesc = Inflector for Ruby
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/dry-rb/dry-inflector
	arch = any
	license = MIT
	checkdepends = ruby-bundler
	checkdepends = ruby-byebug
	checkdepends = ruby-rake
	checkdepends = ruby-rexml
	checkdepends = ruby-rspec
	checkdepends = ruby-rubocop
	checkdepends = ruby-simplecov
	checkdepends = ruby-warning
	checkdepends = ruby-yard
	makedepends = rubygems
	makedepends = ruby-rdoc
	depends = ruby
	options = !emptydirs
	source = dry-inflector-1.1.0.tar.gz::https://github.com/dry-rb/dry-inflector/archive/refs/tags/v1.1.0.tar.gz
	sha256sums = 4a867d9c775e2e081879f2ebc62edb3c72d532866f19373522b5348ddf03f2a9

pkgname = ruby-dry-inflector
